{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-max-props-per-line": ["warn", { "maximum": 5 }],
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", 2],
    "react/require-default-props": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off",
    "no-use-before-define": "off",
    "react/prop-types": "off",
    "no-case-declarations": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "quotes": "error",
    "object-curly-spacing": "error",
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "no-unused-vars": "warn"
  }
}
